@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

tbody:before, thead:after {
    content: "-";
    display: block;
    line-height: 1rem;
    color: transparent;
}
tr:before {
   line-height: 1rem;
}
